In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [47]:
# from google.colab import drive
# drive.mount('/content/drive')

In [48]:
df = pd.read_csv('Weather_Data.csv')
df.sample(10)

,Date,Temp9am,Temp3pm,MinTemp,MaxTemp,Rainfall,RainToday,Evaporation,Sunshine,WindGustDir,...,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm
756,27-02-15,22.4,25.1,20.9,26.7,14.0,No,3.4,6.2,W,...,NNW,NE,2,15,90,77,1011.9,1010.8,6,3
1672,31-08-17,21.0,23.8,16.4,25.4,0.0,No,5.2,10.8,ENE,...,ESE,E,9,28,67,63,1018.8,1014.8,5,1
575,30-08-14,16.1,19.2,11.1,22.0,0.0,No,4.2,10.7,W,...,W,ESE,13,19,49,36,1021.6,1019.6,1,1
57,30-03-13,16.7,21.7,14.4,22.9,0.2,No,4.8,9.3,W,...,W,E,15,15,85,65,1015.4,1011.2,3,2
628,22-10-14,19.7,20.9,16.8,22.1,0.0,No,7.0,9.2,W,...,SSE,E,17,19,63,56,1019.5,1016.3,4,1
2233,15-03-19,9.7,20.1,6.5,22.4,0.0,No,2.6,10.1,W,...,W,NE,20,11,64,43,1032.6,1026.2,1,1
2659,14-05-20,20.1,22.7,16.9,23.3,3.4,No,1.4,8.3,NE,...,W,NE,6,20,75,60,1026.8,1025.2,7,1
927,17-08-15,14.9,16.8,10.5,17.6,0.0,No,2.2,8.2,W,...,W,E,4,15,70,56,1027.1,1024.3,3,2
1959,14-06-18,16.6,19.1,15.0,21.4,0.0,No,9.8,4.3,ESE,...,W,ESE,0,20,58,47,1028.0,1026.5,7,5
2257,08-04-19,12.5,14.9,12.0,16.1,3.2,Yes,3.8,2.7,SSW,...,SW,SW,20,22,89,84,1023.9,1021.7,8,7

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3271 entries, 0 to 3270
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           3271 non-null   object
 1   Temp9am        3271 non-null   float64
 2   Temp3pm        3271 non-null   float64
 3   MinTemp        3271 non-null   float64
 4   MaxTemp        3271 non-null   float64
 5   Rainfall       3271 non-null   float64
 6   RainToday      3271 non-null   object
 7   Evaporation    3271 non-null   float64
 8   Sunshine       3271 non-null   float64
 9   WindGustDir    3271 non-null   object
 10  WindGustSpeed  3271 non-null   int64
 11  WindDir9am     3271 non-null   object
 12  WindDir3pm     3271 non-null   object
 13  WindSpeed9am   3271 non-null   int64
 14  WindSpeed3pm   3271 non-null   int64
 15  Humidity9am    3271 non-null   int64
 16  Humidity3pm    3271 non-null   int64
 17  Pressure9am    3271 non-null   float64
 18  Pressure3pm    3271 non-null   float64
 19  Cloud9am       3271 non-null   int64
 20  Cloud3pm       3271 non-null   int64
dtypes: float64(9), int64(7), object(5)
memory usage: 536.8+ KB

### Breakdown dataset into each year dataframe

In [50]:
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%y')

df['Year'] = df['Date'].dt.year

all_year_df = {}

for year in df['Year'].unique():
    all_year_df[year] = df[df['Year'] == year]

for i in range(2013, 2023):
  print(f"{i}: {len(all_year_df[i])}")

2013: 334
2014: 365
2015: 365
2016: 366
2017: 365
2018: 365
2019: 365
2020: 366
2021: 365
2022: 15

The dataset contains unmatched data
- Making each dataframe with similar number of entries.
- Deleting the 2022 dataframe since it is a outlier.

In [51]:
# Deleting the 2022 dataset since it is an outlier

for year in df['Year'].unique():
    all_year_df[year] = df[df['Year'] == year].head(330)

del all_year_df[2022]

for i in range(2013, 2023):
    if i in all_year_df:  # Correct way to check if a key exists
        print(f"{i}: {len(all_year_df[i])}")
    else:
        print(f"{i}: 0")

2013: 330
2014: 330
2015: 330
2016: 330
2017: 330
2018: 330
2019: 330
2020: 330
2021: 330
2022: 0

## Adding additional columns

In [52]:
for year in df['Year'].unique():

    year_df = df[df['Year'] == year].copy()
    
    # humidityIncrease column 
    year_df['humidityIncrease'] = year_df['Humidity3pm'] > year_df['Humidity9am']
    all_year_df[year] = year_df

In [53]:
print(all_year_df[2013].head())

        Date  Temp9am  Temp3pm  MinTemp  MaxTemp  Rainfall RainToday  \
0 2013-02-01     20.7     20.9     19.5     22.4      15.6       Yes
1 2013-02-02     22.4     24.8     19.5     25.6       6.0       Yes
2 2013-02-03     23.5     23.0     21.6     24.5       6.6       Yes
3 2013-02-04     21.4     20.9     20.2     22.8      18.8       Yes
4 2013-02-05     22.5     25.5     19.7     25.7      77.4       Yes

   Evaporation  Sunshine WindGustDir  ...  WindSpeed9am WindSpeed3pm  \
0          6.2       0.0           W  ...            17           20
1          3.4       2.7           W  ...             9           13
2          2.4       0.1           W  ...            17            2
3          2.2       0.0           W  ...            22           20
4          4.8       0.0           W  ...            11            6

  Humidity9am  Humidity3pm  Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  \
0          92           84       1017.6       1017.4         8         8
1          83           73       1017.9       1016.4         7         7
2          88           86       1016.7       1015.6         7         8
3          83           90       1014.2       1011.8         8         8
4          88           74       1008.3       1004.8         8         8

   Year  humidityIncrease
0  2013             False
1  2013             False
2  2013             False
3  2013              True
4  2013             False

[5 rows x 23 columns]

## <ins> Breakdown the data </ins>

### <ins> Analysis and information about the data </ins>
As per my view after several read through of the dataset:
- It contains weather data for ten consecutive years ranging from 2013 to 2022.

### Procedures:
- Here, I had separated the data into ten different data frames.
- Comparison among the each of the year's data and take insights. At this moment, I've accumulated five innovative analysis questions as follows:

  1. The year that had a maximum and minimum average temperature.
  2. The year with most sunny days.
  3. The year with the most humidity and minimum humidity.
  4. The year with most rainy days.
  5. The year with most rainfall.

# 1. <ins>**The year that had a maximum and minimum average temperature.**</ins>

In [54]:
max_temp = 0
min_temp = float('inf') 
max_temp_year = 0
min_temp_year = 0

for i in range(2013, 2022):
    if all_year_df[i]['MaxTemp'].max() >= max_temp:
        max_temp = all_year_df[i]['MaxTemp'].max()
        max_temp_year = i
    if all_year_df[i]['MinTemp'].min() <= min_temp:
        min_temp = all_year_df[i]['MinTemp'].min()
        min_temp_year = i

print(f"Maximum temperature: {max_temp} in {max_temp_year}")
print(f"Minimum temperature: {min_temp} in {min_temp_year}")

Maximum temperature: 45.8 in 2017
Minimum temperature: 4.3 in 2015

Plot

# 2. <ins>**The year with maximum and minimum sunshine days.**</ins>

- Sunshine refers to hours of bright sunshine recorded in a day.

In [55]:
max_sunshine_val = 0
min_sunshine_val = float('inf')
max_sunshine_year = 0
min_sunshine_year = 0

for i in range(2013, 2022):
    if all_year_df[i]['Sunshine'].max() >= max_sunshine_val:
        max_sunshine_val = all_year_df[i]['Sunshine'].max()
        max_sunshine_year = i

    if all_year_df[i]['Sunshine'].min() <= min_sunshine_val:
        min_sunshine_val = all_year_df[i]['Sunshine'].min()
        min_sunshine_year = i

print(f"Maximum sunny year: {max_sunshine_year} with sunshine value: {max_sunshine_val}")
print(f"Minimum sunny year: {min_sunshine_year} with sunshine value: {min_sunshine_val}")

Maximum sunny year: 2018 with sunshine value: 13.6
Minimum sunny year: 2021 with sunshine value: 0.0

Plot

# 3. <ins>**Humidity correlation**</ins>

The humidity difference can lead to discomfort. If humidity in afternoon (3 PM) is grater than morning (9 AM) can lead to rainy or stormy weather.

In [56]:
most_humidity_year = 0
max_humidity_day_cnt = 0

least_humidity_year = 0
min_humidity_day_cnt = float('inf')  

for year in range(2013, 2022):
    true_count = all_year_df[year]['humidityIncrease'].sum()

    if true_count > max_humidity_day_cnt:
        max_humidity_day_cnt = true_count
        most_humidity_year = year

    if true_count < min_humidity_day_cnt:
        min_humidity_day_cnt = true_count
        least_humidity_year = year

print(f"Most humidity increase year is {most_humidity_year} with {max_humidity_day_cnt} days.")
print(f"Least humidity increase year is {least_humidity_year} with {min_humidity_day_cnt} days.")

Most humidity increase year is 2016 with 57 days.
Least humidity increase year is 2014 with 34 days.

In [57]:
most_rainy_year = 0
max_rainy_days = 0

least_rainy_year = 0
min_rainy_days = float('inf') 

for year in range(2013, 2022):
    rainy_days_count = all_year_df[year]['RainToday'].value_counts().get('Yes', 0)
    
    if rainy_days_count > max_rainy_days:
        max_rainy_days = rainy_days_count
        most_rainy_year = year

    if rainy_days_count < min_rainy_days:
        min_rainy_days = rainy_days_count
        least_rainy_year = year

print(f"The year with the most rainy days is {most_rainy_year} with {max_rainy_days} rainy days.")
print(f"The year with the least rainy days is {least_rainy_year} with {min_rainy_days} rainy days.")
print(f"2014 rainy day count: {all_year_df[2014]['RainToday'].value_counts().get('Yes', 0)}")

The year with the most rainy days is 2016 with 111 rainy days.
The year with the least rainy days is 2017 with 78 rainy days.
2014 rainy day count: 86